/*
Baja Website
By Anmol Modur
style.css

Stylesheet for webpages centeral
*/

@font-face {
    font-family: SanFrancisco;
    src: url(SanFrancisco.ttf);
}

#logo {
        width: 74px;
        height: 60px;
    }

@import url("style_sm.css"); /*evaluates small display first*/
@import url("style_md.css"); /*evaluates medium display second*/
@import url("style_lg.css"); /*evaluates large display last*/
