.slideshow {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;
}

.slideshow:hover {
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -ms-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes imageAnimation {
    0%,
    18% {
        background-image: url(../images/Rock_Crawl_2.jpg);
    }
    20%,
    38% {
        background-image: url(../images/Car_Staged.jpg);
    }
    40%,
    58% {
        background-image: url(../images/Rock_Crawl_2.jpg);
    }
    60%,
    78% {
        background-image: url(../images/Car_Staged.jpg);
    }
    80%,
    100% {
        background-image: url(../images/Rock_Crawl_2.jpg);
    }
}


