/*
Baja Website
By Anmol Modur
style_sm.css
*/


/*INITIALIZE FONTS*/

@font-face {
    font-family: "Quicksand";
    src: url(/assets/fonts/Quicksand-Regular.otf);
}

@font-face {
    font-family: "Quicksand";
    src: url(/assets/fonts/Quicksand-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: "Quicksand";
    src: url(/assets/fonts/Quicksand-Light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: "Raleway";
    src: url(/assets/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Raleway";
    src: url(/assets/fonts/Raleway-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Raleway";
    src: url(/assets/fonts/Raleway-Black.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: "Raleway";
    src: url(/assets/fonts/Raleway-Light.ttf);
    font-weight: lighter;
}

.glyph {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    background-size: cover;
}

.twitter {
    background-image: url(/assets/images/Glyphicon/twitter.png);
}

.facebook {
    background-image: url(/assets/images/Glyphicon/facebook.png);
}

.email {
    background-image: url(/assets/images/Glyphicon/email.png);
}


/* Let's get this party started */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 150, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 150, 0, 0.4);
}

body {
    width: 100%;
    font-family: "Quicksand";
}


/*START NAV*/

.navbar {
    border-radius: 0px;
}

nav {
    font-size: 20px;
    font-family: "Raleway";
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	/*color: #9d9d9d; Gray */
	color: #f47a1f;

}

.navbar-header {
    margin: 2.5px 15px;
    height: 50px;
}

#logo {
    width: auto;
    height: 45px;
}


/*END NAV*/


/*START MAIN*/

#wrapper {
    width: 100%;
    box-shadow: 0px 0px 40px #888888;

    /*height: 3000px;*/
}


/*START PAGE*/

div.page {
    display: block;
    position: static;
    border: 0;
    padding: 0;
    margin: 0;
    /*min-height: 522px;*/
    width: 100%;
    background-color: white;
    padding-bottom: 15px;
}

div.page:nth-of-type(1) {
    margin-top: 50px;
}

div.page:nth-of-type(2n) {
    background-color: lightgray;
}

#main {
    /*height: 331px;*/
    height: 100vh;
    background-color: transparent;
}

#about {
    /*height: 770px;*/
    /*font-family: "San_Francisco";*/
}

#team {}

#gallery {
    /*background-color: transparent;*/
    font-family: "Raleway";
}

#results {
    /*background-color: transparent;*/
}

#sponsors {
	text-align: center;
}

#media {
    background-color: black;
    height: 45px;
}

#spons {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#designteam {
    height: 522px;
}

#people {
    font-family: "Raleway";
    text-align: center;
}


/*START TEAM*/

#team img {
    padding: 10px;
    width: 100%;
    max-height: 200px;
}

ul.buton {
    padding-left: 0px;
    text-align: center;
}

ul.buton li {
    position: relative;
    display: block;
    list-style-type: none;
    width: calc(100% - 20px);
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f47a1f;
    font-size: 2em;
    margin: 12.5px;
}

ul.buton li a {
    text-decoration: none;
    /*display: block;*/
    color: white;
}

ul.buton li span {
    text-decoration: none;
    /*display: block;*/
    color: white;

}

ul.buton li span:last-of-type {
	font-weight: bold;
}

ul.buton li span.glyphicon {
    left: -75px;
}

ul.buton li:hover {
    box-shadow: 0px 0px 20px #888888;
    cursor: pointer;
}


/*END TEAM*/


/*START GALLERY*/

ul.thumbnail {
    padding: 0px;
    bottom: 0px;
    margin: 0px;
    background-color: transparent;
}

ul.thumbnail li {
    display: inline-block;
    list-style-type: none;
    width: calc(50% - 22px);
    text-align: center;
    font-size: 2em;
    margin: 10px;
    background-image: url(/assets/images/Car_Staged.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.layer {
    background-color: rgba(248, 247, 216, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul.thumbnail li span {
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 1.3em;
    /*padding-top: 17%;*/
    /*height: 100%;*/
}

ul.thumbnail li:hover {
    box-shadow: 0px 0px 30px #888888;
}


/*END GALLERY*/


/*START RESULTS*/

#results h1#thin {
    margin-bottom: 0px;
    padding-top: 15px;
}

#results ul.buton li.detail {
    display: none;
}


/*END RESULTS*/


/*START SPONSORS*/

#sponsorpage {
    background-image: url(/assets/images/sponsorspage.png);
    background-size: 100% auto;
    background-color: black;
    display: none;
}


/*END SPONSORS*/


/*START MEDIA*/

#media div {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    /*background-color: white;*/
}


/*END MEDIA*/


/*START DESIGNTEAM*/

#designteam {}


/*END DESIGNTEAM*/


/*START DESCRIPTION*/

#description p {
    padding: 30px 20px;
    text-align: justify;
}


/*END DESCRIPTION*/


/*START PEOPLE*/

#people ul#teammembers {
    padding-left: 0px;
    padding-top: 50px;
    /*width: 100%;*/
}

#people ul.member {
    position: relative;
    margin: 0 auto;
    padding: 0 80px;
    display: inline-block;
    padding-bottom: 30px;
}

#people ul.member:nth-of-type(3) li:nth-of-type(2) {
    /*content: "DRIVELINE AND <br> REDUCTION";*/
}

#people ul.member li {
    display: block;
    list-style-type: none;
}

#people ul.member li:nth-of-type(1) {
    border: 4px solid #f47a1f;
    height: 184px;
    width: 184px;
    margin: 0 auto;
}

#people ul.member li:nth-of-type(2) {
    color: #f47a1f;
    font-size: 1.5em;
    font-weight: bolder;
    text-transform: uppercase;
    /*width: 364px;*/
    /*line-height: 1em;*/
}

#people ul.member li:nth-of-type(3) {
    font-size: 1.5em;
    font-weight: bolder;
    line-height: .9em;
}


/*END PEOPLE*/

h1 {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    text-transform: uppercase;
    font-family: "Raleway";
}

h2 {
    color: #f47a1f;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 0px;
    font-family: "Raleway";
    font-weight: bold;
}

h2 ~ p {
    text-align: center;
    font-weight: bold;
}

p {
    padding: 0px 15px;
    font-family: "Quicksand";
}

p > a {
    text-decoration: none;
    color: #f47a1f;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0px;
}


/*END PAGE*/


/*END MAIN*/
