/*
Baja Website
By Anmol Modur
style_md.css
*/

@media (min-width: 768px) {
    /*For screens under 1366*768*/
    html,
    body,
    nav {
        max-width: 1000px;
        margin: 0 auto;
    }
    /*START NAV*/
    .nav {
        margin: 20px auto;
        float: right;
        font-size: 17px;
    }
    nav {
        height: 75px;
    }
    .navbar-header {
        width: 74px;
        height: 60px;
    }
    #logo {
        width: 74px;
        height: 60px;
        margin: 7.5px auto;
    }
    /*END NAV*/
    /*START PAGE*/
    div.page:nth-of-type(1) {
        margin-top: 74px;
    }
    #main {
        height: 522px;
        padding-bottom: 0px;
    }
    #team {
        max-height: calc( 100% - 270px);
    }
    #description {}
    #people {
        font-family: "Raleway";
        text-align: left;
    }
    /*START MAIN*/
    /*END MAIN*/
    /*START TEAM*/
    ul.buton li {
        margin: 0 auto;
        margin-bottom: 12.5px;
        width: 500px;
        height: 80px;
    }
    ul.buton li span:last-of-type {
        font-size: 37.1px;
        top: 14px;
    }
    ul.buton li a {
        font-size: 37.1px;
        top: 14px;
    }
    #team img {
        max-height: none;
        /*width: 100%;*/
        /*height: 400px;*/
    }
    #team ul.buton {
        position: relative;
        /*top: -281.25px;*/
        top: -420.25px;
    }
    /*END TEAM*/
    /*START GALLERY*/
    ul.thumbnail li span {
        font-size: 5em;
        font-weight: bolder;
    }
    ul.thumbnail li a {
        font-size: 5em;
        font-weight: bolder;
    }
    #albums ul#gal {
        padding-top: 80px;
    }
    #albums ul.album {
        margin: 0px 52px;
        padding: 0px 15px;
        vertical-align: top;
        padding-bottom: 40px;
    }
    #albums ul.album li:nth-of-type(1) {
        height: 364px;
        width: 364px;
    }
    #albums ul.album li:nth-of-type(2) {
        width: 364px;
        line-height: 1.3em;
    }
    /*END GALLERY*/
    /*START RESULTS*/
    #results ul.buton li {
        width: 483px;
        height: 78px;
        display: inline-block;
        margin: 7px;
    }
    #results ul.buton li.detail {
        width: 986px;
        height: 268px;
        background-color: white;
        display: none;
    }
    #results ul.buton li.detail:hover {
        box-shadow: none;
    }
    #results ul.buton ul.buton {
        display: none;
    }
    #results ul.buton li span:first-of-type {
        display: none;
    }
    /*END RESULTS*/
    /*START MEDIA*/
    /*END MEDIA*/
    /*START SPONS*/
    #spons {
        max-width: 1000px;
    }
    /*END SPONS*/
    /*START DESCRIPTION*/
    #description p {
        margin: 0 auto;
        padding: 90px 0px;
        width: 600px;
        text-align: justify;
    }
    /*END DESCRIPTION*/
    /*START PEOPLE*/
    #people ul#teammembers {
        padding-top: 80px;
    }
    #people ul.member {
        margin: 0px 52px;
        padding: 0px 15px;
        vertical-align: top;
        padding-bottom: 40px;
    }
    #people ul.member li:nth-of-type(1) {
        height: 409.5px;
        width: 364px; 
    }

    #people ul.member li:nth-of-type(1) img {
        height: 400.5px;
        width: 356px;
    }

    #people ul.member li:nth-of-type(2) {
        width: 364px;
        line-height: 1.3em;
    }
    #people ul.member li:nth-of-type(3) {
        line-height: 1.3em;
    }
    /*END PEOPLE*/
    div.back {
        margin-bottom: 100px;
    }
    /*END PAGE*/
    p {
        font-size: 1.5em;
        line-height: 1.2em;
        padding-bottom: 15px;
    }
    h1 {
        font-size: 4em;
        padding-top: 35px;
        letter-spacing: 0.075em
    }
}

@media (min-width: 840px) {
    .nav {
        font-size: 20px;
    }
}
