/*
Baja Website
By Anmol Modur
style_md.css
*/

@media (min-width: 768px) {
    /*For screens under 1366*768*/
    /*START NAV*/
   .nav{
        margin: 20px auto;
        float: right;
        font-size: 17px;
   }
}
@media (min-width: 840px) {
    .nav{
        font-size: 20px;
    }
}

